<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeutschGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>663FFF441C66B411003E0EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663FFF5B1C66B412003E0EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663FFF661C66B412003E0EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
